# Ignore build artifacts
bin/
obj/

# Ignore user-specific files
.vs/
.idea/
*.user

# Ignore settings that might contain passwords
appsettings.Development.json
Eventify-High-Performance-Event-Management-API.http
Eventify-High-Performance-Event-Management-API.sln